.f-r {
  float: right;
}

.c-r {
  color: red;
}

.err-clr {
  color: #9f3a38;
}

.d-f {
  display: flex;
}

.j-c-sp-btwn {
  justify-content: space-between;
}

.a-i-cntr {
  align-items: center;
}

.m-t5 {
  margin-top: 5px;
}

.m-t10 {
  margin-top: 10px;
}